<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="DbConnectionString" value="Data Source=DESKTOP-QQD32FG\SQLEXPRESS01;Initial Catalog=University1;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
	</appSettings>
</configuration>